.header {
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	grid-area: header;
	background-color: rgb(65, 155, 65);
	padding: 5px;
	z-index: 99;
}
.logo {
	max-width: 40px;
}
.logo img {
	width: 100%;
}
.auth {
	margin-right: 15px;
}
.auth a {
	color: white;
}
.auth a:hover {
	text-decoration: underline;
}
.auth span {
	color: White;
	font-weight: 500;
	font-size: 16px;
}
