.dialogs {
	display: grid;
	grid-template-columns: 10fr 2fr;
	height: 100%;
}
.dialogsItems {
	padding: 10px;
	border-left: 1px solid white;
}
.item {
	background-color: rgb(247, 103, 103);
	margin-bottom: 3px;
	border-radius: 3px;
	transition: all 0.3s ease 0s;
}
.item:hover {
	background-color: rgb(245, 156, 156);
}

.item a {
	display: inline-block;
	color: white;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
}

.active {
	color: gold;
}

.messages {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

/*======================= Message ==========================*/

.message {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	display: flex;
	align-items: end;
	margin-bottom: 3px;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.messageBlock {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	border-bottom-left-radius: 0;
	padding: 5px 45px 20px 10px;
	max-width: 400px;
	position: relative;
	margin: 0 0 0 15px;
}
.messageBlock:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	left: -15px;
	bottom: 0;
	background: radial-gradient(
		circle at 0 0,
		rgba(0, 0, 0, 0) 15px,
		rgba(255, 255, 255, 0.5) 0
	);
}
.name {
	font-weight: 700;
	margin-bottom: 3px;
	color: rgb(69, 69, 109);
}
.text {
	color: #333;
}
.time {
	position: absolute;
	right: 5px;
	bottom: 5px;
	color: grey;
}

/*======================= addMessage =======================*/

.addMessageBlock {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.addMessageInput {
	padding: 5px;
	border-radius: 5px;
	flex: 0 1 79%;
}
.addMessageButton {
	padding: 5px;
	border-radius: 5px;
	flex: 0 1 20%;
}
